<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %} - Main website name</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive site -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- chrome frame -->
		<meta name="viewport" content="user-scalable=no"> <!-- prevents browser zoom on small devices -->
		<link rel="author" href="humans.txt">
		<meta name="description" content="Description Goes Here" />
		<link rel="stylesheet" href="/css/style.css">	
	    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="ico/favicon.png">	  
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	</head>
	<body>

    <nav role="navigation">
    </nav>

	<header role="banner">

	</header>
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-brand">
 Diseño web Malaga - Marbella
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="/fr/fr">FR <img src="fr.png" class="flag"></a></li>
          <li><a href="/en/en">EN <img src="uk.png" class="flag"></a></li>
          <li><a href="/precio">Precios & servicios</a></li>
        </ul>
      </div>
    </div>

    <!-- Button (call-to-action) -->

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="/fr/fr">FR <img src="fr.png" class="flag"></a></li>
          <li><a href="/en/en">EN <img src="uk.png" class="flag"></a></li>
          <li><a href="/precio">Precios & servicios</a></li>
      </ul>
    </div>
  </div>
</div>
 

          <div class="banner col-xs-12 col-sm-12 col-md-12 main" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('key3.PNG');">
            <div class="banner-content">
              <h1>AndaluciaDev<i class="fa fa-map-marker fa-2x" style="color: #5cb85c" aria-hidden="true"></i></h1>
              <h2>Diseño web Malaga</h2>
              <h4>Diseño web -Marketing Online - Posicionamiento SEO/SEM - Creatividad para startups y empresas </h4>

              <button type="button" class="btn btn-success btn-md " data-toggle="modal" data-target="#myModal">
                             Hablemos !
                              </button></h6>

                              <!-- Modal -->
                              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
 <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      <h4 class="modal-title" id="myModalLabel"><strong>Hablemos !</strong></h4>
                                      <h5 class="modal-title">Mandame un mensaje </br> o por telefono al +34 611-40-96-23 </h5>
                                    </div>
                                        <div class="modal-body text-center">
                                          <form  id="contact-form" action="http://formspree.io/t.tourlet@gmail.com" method="POST">
                                           <input class="form-control" type="text"  name="name" placeholder="Tu nombre/ empresa">
                                            <input class="form-control" type="email" name="_replyto" placeholder="Tu email">
                                              <textarea class="form-control" name="message" placeholder="Mensaje"></textarea>
                                             <input type="text" name="_gotcha" style="display:none" />
                                            <button type="submit" value="Send" class="btn btn-primary">Enviar</button>
                                            <input type="hidden" name="_next" value="/" />
                                        </form>
                                     <script>
                        var contactform =  document.getElementById('contactform');
                        contactform.setAttribute('action', '//formspree.io/' + 't.tourlet' + '@' + 'gmail' + '.' + 'com');
                    </script>
            </div>
            </div>
            </div>
            
     
            
    </div>
    </div>
    </div>
	{{ content }}

	<footer role="contentinfo">

	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>if (!window.jQuery) {document.write('<script src="js/jquery.min.js"><\/script>');}</script>
	<script src="/js/custom.js"></script>

    <script>
		// analytics code
    </script>	
	</body>
</html>